{% extends 'base.html' %}
{% load static %}

{% block title %}home {% endblock title %}
   
   {% block content %}
    
   
     
 <!--main section sarts here-->
 
 <div class="content-outer">
  <div class="left-contentinner">
    <div class="homepage_quote"><p class="homepage_quotation">"Empowering future business leaders with knowledge, innovation, and integrity. Your journey to success begins here."</p></div>
    <div class="homepage_quote"><p class="homepage_quotation">"The foundation of great business leaders is built on knowledge, ethics, and perseverance. Learn today, lead tomorrow."
    </p></div>
  </div>
  
  
  <div class="right-contentinner"></div>
 </div>
</div>
 
{% include 'year_section.html' %}

 {% endblock content %}
 
