<div class="year-container">
    <h2>Year</h2>
    <div class="year-grid">
        <a href="{% url 'subjects' 'first' %}" class="year-box fy"><i class="fa-solid fa-book"></i>First Year</a>
<a href="{% url 'subjects' 'second' %}" class="year-box sy"><i class="fa-solid fa-book"></i>Second Year</a>
<a href="{% url 'subjects' 'third' %}" class="year-box ty"><i class="fa-solid fa-book"></i>Third Year</a>
<a href="{% url 'subjects' 'fourth' %}" class="year-box fy"><i class="fa-solid fa-book"></i>Fourth Year</a>
    </div>
</div>