
.footer{
    height: 150px;
    width: 100vw;
    background-color:#002a73;
    display: flex;
    justify-content: space-between;
    color:white;
    margin-top: 60px;
}

.footer-content{
    padding: 10px 30px;
    padding-top: 10px;
    text-align: center;
}

.social-media{
    font-size: 1.5em;
    width: 200px;
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

